<%- include("template/cabecera" , {tituloWeb:"Administracion de mapas"} )%>
    
<div class="container">
    
    <h1>Mapas</h1>

    <a class="btn btn-success btn-block my-4" href="/mapas/crear">Crear un nuevo mapa</a>

    <table class="table">

        <thead>
            <tr>
                <th>Nombre del mapa</th>
                <th>Tipo de mapa</th>
                <th class="d-none d-sm-table-cell">Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    
            <% if (arrayMapas.length > 0) { %>
                
                <% arrayMapas.forEach(mapa => { %>
                
                    <tr>
                        <td> <%=mapa.nombre%></td>
                        <td><%=mapa.tipo%></td>
                        <td class="d-none d-sm-table-cell"><%=mapa.descripcion%></td>
                        <td><a  class="btn btn-warning btn-block" href="mapas/<%= mapa.id %>">Detalles</a></td>
                    </tr>
                

                <% }) %>

            <% } %>

        </tbody>
    </table>

</div>


<%- include("template/footer")%>